*, ::before, ::after{
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        height: 100%;
        width: 100%;
        margin-top: 5rem;
}

#keyboard{
    margin-top: 8rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.keyboardcell{
    border-radius: 3px;
    border-color: #D3D6DA;
    border-style: solid;
    background-color: #D3D6DA;
    height: 4rem;
    width: 3rem;
}

#enter{
    width: 5rem;
}

#escape{
    width: 5rem;
}

.keyboardrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5px;
    gap: 5px;
}

input{
    caret-color: transparent;
    height: 4rem;
    width: 4rem;
    background-color: white;
    border-color: #D3D6DA;
    border-style: solid;
    padding: 0;

    text-align: center;

    &:focus-visible{
        border-color: black;
        border-width: 5px;
    }
}